doctype html
html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title Natours | #{title}
      script(src='https://js.stripe.com/v3/')
      
  
  body
    //HEADER
    include _header

    block content
      h1 welcome to main content

    //FOOTER
    include _footer        
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js' integrity='sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==' crossorigin='anonymous')
    //- script(src='/js/login.js')
    script(src='/js/bundle.js')